# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#badPaths
build
x64
.vs
x64/Debug/OpenPuls.0d0ffb40.tlog/CL.command.1.tlog
x64/Debug/OpenPuls.0d0ffb40.tlog/CL.read.1.tlog
x64/Debug/OpenPuls.0d0ffb40.tlog/CL.write.1.tlog
x64/Debug/OpenPuls.0d0ffb40.tlog/link.command.1.tlog
x64/Debug/OpenPuls.0d0ffb40.tlog/link.read.1.tlog
x64/Debug/OpenPuls.0d0ffb40.tlog/link.write.1.tlog
x64/Debug/OpenPuls.0d0ffb40.tlog/OpenPulseConverter.lastbuildstate
x64/Debug/OpenPulseConverter.exe.recipe
x64/Debug/OpenPulseConverter.ilk
x64/Debug/OpenPulseConverter.log
x64/Debug/OpenPulseConverter.obj
x64/Debug/OpenPulseConverter.pdb
x64/Debug/OpenPulseConverter.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
